.cartItemList {
  background-color: #fff;
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: 5px;
  padding: 20px;
}
.detailContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detailContainer .itemDetail:nth-child(1) {
  margin-left: 100px;
}
.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.cartItem .itemImg {
  background-color: red;
  width: 200px;
  height: 200px;
}
.cartItem img {
  width: 100%;
  height: 100%;
}
.cartSummary {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 30%;
  margin-right: 2rem;
  padding: 20px;
}
.cartCenter {
  display: flex;
  width: 90vw;
  max-width: 1170px;
  height: 100%;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: 160px;
}
.itemDetail {
  font-size: 1.3rem;
}
.btnList button {
  font-family: kalameh-bold;
  font-size: 1.2rem;
  margin-right: 10px;
  padding: 5px 13px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.btnList button:nth-child(1) {
  background-color: red;
  color: white;
}
.btnList button:nth-child(3) {
  background-color: rgb(39, 248, 133);
  color: white;
}
.emptyCart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.cartSummary {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartSummary h2 {
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.cartSummary p {
  font-family: kalameh-bold;
  font-size: 1.2rem;
}
@media only screen and (max-width: 600px) {
  .cartCenter {
    width: 96vw;
  }
  .cartItem .itemImg {
    background-color: red;
    width: 80px;
    height: 80px;
  }
  .cartSummary {
    padding: 10px;
    /* width: 150%; */
    margin-right: 0.5rem;
  }
  .cartItemList {
    padding: 10px;
  }
  .itemDetail {
    font-size: 0.9rem;
    margin-right: 20px;
  }
  .btnList button {
    font-size: 0.8rem;
    padding: 2px 5px;
    margin-bottom: 6px;
    border-radius: 20%;
  }
  .btnList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .cartSummary {
    width: 30%;
  }
  .cartSummary h2 {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .cartSummary p {
    font-family: kalameh-bold;
    font-size: 0.9rem;
  }
  .detailContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-right: 10px; */
  }
  .cartItem {
    margin-bottom: 10px;
  }
  .detailContainer .itemDetail:nth-child(1) {
    margin-left: 0px;
  }
}
