@font-face {
  font-family: kalameh-black;
  src: url(./assets/fonts/KalamehWeb_Black.woff2);
}
@font-face {
  font-family: kalameh-bold;
  src: url(./assets/fonts/KalamehWeb_Bold.ttf);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: kalameh-black;
  color: #002c53;
  text-decoration: none;
}
